/* CSS Document */
/* Author: Josh Story */

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  overflow-x: hidden;
  background: #202020;
  width: 100vw;
  margin: 100px 0;
  padding: 0rem;
  text-align: center;
}

.slider {
  width: 1000px;
}

.p5Canvas {
  margin: 1.5em auto;
}

button {
  padding: 8px 48px;
  border-radius: 50px;
}
