/* CSS Document */
/* Developed by Josh Story */

@import url("https://use.typekit.net/ghb3tbc.css");

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --font-sans: "Roboto", "helvetica", sans-serif;
  --font-serif: "aviano-flare", serif;
  /* --font-brand: "pirulen", "helvetica", sans-serif; */

  --color-pure_black: #000;
  --color-black: #101010;
  --color-dark_gray: #303030;
  --color-gray: #404040;
  --color-blue: #0289bf;
  --color-blue_dark: #016699;
  --color-blue_light: #46c8f5;
  --color-pink: #e50eb9;
  --color-purple: #9700ff;
  --color-white: #fff;
  --color-white--shadow: rgba(255, 255, 255, 0.5);
  --color-white--shadow_2: rgba(255, 255, 255, 0.2);

  /* --font-size-base: 16px;
    --font-size-lg: 24px;
    --font-size-xl: 24px; */

  /* --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1400px; */
}

html {
  background: url(assets/img/bg.png), var(--color-dark_gray);
  background-size: 200px;
  background-blend-mode: hard-light;
}

body {
  font-family: var(--font-sans);
  overflow-x: hidden;
  font-size: 1.35rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  padding: 5rem;
  color: var(--color-white);
  background: var(--color-black);
  max-width: 80vw;
  width: 80rem;
  margin: 0 auto;
  text-align: center;
  border-left: 2px solid var(--color-pink);
  border-right: 2px solid var(--color-pink);
}

h1 {
  font-size: 4rem;
  margin: 3rem auto 2.5rem;
}

h2 {
  font-size: 3rem;
  margin: 5rem auto 0rem;
}

h4 {
  color: var(--color-blue_light);
}

img {
  border-radius: 30px;
  border: 2px solid var(--color-pink);
  filter: saturate(1.5);
}
