.masthead {
  display: block;
  min-width: 85vw;
  width: 65vw;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.masthead--img {
  filter: opacity(1);
  mix-blend-mode: hard-light;
  width: 100vw;
  margin: 0;
  height: 216px;
  right: 0px;
}

.masthead h1 {
  opacity: 100%;
  font-size: 2.75em;
  text-align: center;
  margin: 0 auto;
  mix-blend-mode: hard-light;
  background: linear-gradient(
    to right,
    rgba(20, 20, 20, 0),
    rgba(20, 20, 20, 30),
    rgba(20, 20, 20, 0)
  );
}
