/* CSS Document */
/* Author: Josh Story */

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, sans-serif;
  background-image: url("../img/bg.png") !important;
  background-size: 100vw !important;
  color: #fff;
  overflow-x: hidden;
  background: #202020;
  width: 100vw;
  margin: 0;
  padding: 0rem;
  text-align: center;
}

.p5Canvas {
  margin-top: 2em;
}
