/* CSS Document */
/* Author: Josh Story */

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #04bf1a;
  overflow-x: hidden;
  background: #202020;
  width: 100vw;
  margin: 0px;
  padding: 0rem;
  text-align: center;
}
