/* CSS Document */
/* Author: Josh Story */
@import url(../fonts/DIGITEK.TTF);

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #101010;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, sans-serif;
  color: limegreen;
  overflow-x: hidden;
  width: 90vw;
  margin: 100px auto;
  padding: 0rem;
  text-align: center;
}

h1 {
  color: #000;
  font-family: "DIGITEK", Helvetica, sans-serif;
  font-size: 3em;
  font-weight: bolder;
  -webkit-text-stroke: 3px dodgerblue;
  text-decoration: underline overline !important;
  text-decoration-color: #25e679 !important;
  width: 1300px;
  margin: -1em auto 1em !important;
  padding: 9px 0px 2px;
}

.p5Canvas {
  position: relative !important;
  margin: 1.5em auto;
  border: 6px outset #eee !important;
  box-shadow: 8px 8px 28px 8px rgba(0, 0, 0, 0.6) !important;
  padding: 1em 1.25em;
  background: linear-gradient(120deg, #202020, #000) !important;
}
