/* CSS Document */
/* Author: Josh Story */

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: limegreen;
  overflow-x: hidden;
  background: #202020;
  width: 100vw;
  margin: 100px 0;
  padding: 0rem;
  text-align: center;
}

h1 {
  color: #000;
  font-size: 3em;
  font-weight: bolder;
  -webkit-text-stroke: 3px limegreen;
}

.slider {
  display: relative !important;
  position: inherit !important;
  margin: 1em auto !important;
  width: 1280px;
  justify-content: center !important;
  background: white;
}

.p5Canvas {
  margin: 1.5em auto;
  border: 6px outset #eee !important;
  box-shadow: 16px 16px 24px 4px #000 !important;
}

button {
  display: block !important;
  position: inherit !important;
  margin: 2em auto !important;
  padding: 8px 48px;
  border-radius: 50px;
  background-color: black;
  color: limegreen;
  border: 3px solid limegreen;
}

p {
  display: block;
  background-color: #202020 !important;
  z-index: -50;
}
