.gearCard {
  width: 100%;
  max-width: 250px;
  padding: 20px;
  height: 375px;
  border: 5px solid #000;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: #fff;
  color: #202020;
}

.icon {
  max-width: 30px;
  bottom: 50px;
  margin: 20px;
}

h3 {
  font-size: 1.125em;
  margin: 2em 0px 0px;
  height: 64.5px;
}

.price {
  position: relative;
  font-size: 1.1em;
  bottom: -20px;
  text-align: center;
}

.gearCard .affordable {
  color: #cc0022;
  font-weight: bold;
  position: relative;
  bottom: 5px;
}

.cardImg {
  min-width: 200px;
  min-height: 100px;
  align-items: center;
  border-bottom: 2px solid red;
  padding-bottom: 1em;
}
