/* CSS Document */
/* Author: Josh Story */

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  overflow-x: hidden;
  background: url(../img/background.png), #202020;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  margin: 0px;
  padding: 0rem;
  text-align: center;
}

.p5Canvas {
  margin-top: 0rem;
}

@media (min-width: 1600px) {
  .p5Canvas {
    margin-top: 1rem;
  }
}

@media (min-width: 2000px) {
  .p5Canvas {
    margin-top: 3rem;
  }
}

@media (min-width: 2350px) {
  .p5Canvas {
    margin-top: 4rem;
  }
}
